<div class="row">
  <!--
  TODO: Loop through each album and display each one with this HTML

  <div class="col-md-3">
    <%= link_to(album) do %>
      <div class="thumbnail">
        <img src="<%= album.cover %>">
        <div class="caption">
          <h3 class="title">  </h3>
          <p class="artist">  </p>
        </div>
      </div>
    <% end %>
  </div>
  -->
</div>
