<div class="show row">
  <div class="cover col-md-4">  </div>
  <div class="col-sm-8">
    <h3 class="album-title">  </h3>
    <p class="album-artist">  </p>
    <!--
    TODO: Loop through each track and display each one with this HTML
    
    <div class="track row">
      <div class="name col-md-8">  </div>
      <div class="minutes col-md-4">  min</div>
    </div>
    -->
  </div>
</div>
